body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path, .y.axis line {
    display: none;
}

.y.bands rect {
    fill: #eee;
}

.line {
  fill: none;
  stroke: #e41a1c; /* #3182bd; */
  stroke-width: 1px;
  stroke-opacity: 0.2;
}

.line.schedule {
    stroke-width: 3px;
    stroke-opacity: 1;
    stroke: black;
    stroke-dasharray: 5,5;
}
