body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path, .y.axis line {
    display: none;
}

.line {
  fill: none;
  stroke: #3182bd;
  stroke-width: 2px;
  stroke-opacity: 0.4;
}
